{{!-- Estrutura principal --}}
<main>
    {{!-- Container --}}
    <div class="container">
        
        {{!-- Linha --}}
        <div class="row">

            {{!-- Laço de repetição --}}
            {{#each vetor}}

                {{!-- Colunas --}}
                <div class="col-3">
                    
                    {{!-- Card --}}
                    <div class="card">
                        <h1>{{nome}}</h1>
                        <p>Posição do vetor: {{@index}}</p>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{@index}}">Alterar</button>
                    </div>

                </div>

            {{/each}}
        </div>
    </div>
</main>

{{!-- Gerar uma estrutura de modal para cada linha do vetor --}}
{{#each vetor}}

    {{!-- Modal --}}
    <div class="modal fade" id="modal{{@index}}" tabindex="-1" aria-labelledby="modal{{@index}}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal{{@index}}">Modal - {{@index}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
        
                <div class="modal-body">
                    <h1>{{nome}}</h1>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

{{/each}}